---
layout: default
title: IT Security
---

<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-12">
            <h2>Welcome!</h2>
            <p>Hello to everyone! As I recently got interested in the field of IT security, I thought it would be a
                great idea to post what I found interesting and what challenges I succeeded in. This blog will contain
                some posts about interesting security things I learned, as well as walkthroughs on CTF boxes or challenges.
                I hope you find some interesting matters on this blog!</p>

            <p>You will find on this home page the latest posts and writeups published. You may use the navigation
                bar to find all the writeups or all the articles.</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <h2>Latest articles</h2>
            <ul class="custom-post-list">
                {% for post in site.posts %}
                    {% if post.path contains 'articles' %}
                        <li>
                            <strong>{{ post.title }}</strong>, {{ post.long_date }}
                            {{ post.excerpt }}
                            <a href="{{ post.url }}">Read more...</a>
                            {% unless forloop.last %}<hr />{% endunless %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <h2>Latest writeups</h2>
            <ul class="custom-post-list">
            {% for post in site.posts %}
                {% if post.path contains 'writeups' %}
                    <li>
                        <strong>{{ post.title }}</strong>, {{ post.long_date }}
                        {{ post.excerpt }}
                        <a href="{{ post.url }}">Read more...</a>
                        {% unless forloop.last %}<hr />{% endunless %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>