body, .jumbotron {
    /*background-color: #333333; */
    /*
    background-color: #1e2125;
    color: #949ba2;
     */
}

@font-face {
    font-family: "Hacked";
    src: url("/style/fonts/hacked.ttf");
    src: url("/style/fonts/hacked.woff") format("woff"),
    url("/style/fonts/hacked.woff2") format("woff2");
}

.jumbotron {
    font-family: "Hacked", serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

hr {
    border-color: #949ba2;
}

.prettyprint {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/* It means a prettyprint followed by linenums ? */
.prettyprint.linenums {
    padding-left: 10px;
}

.linenums li {
    list-style-type: decimal;
}

.post {
    margin: auto;
    width: 80%
}

.nocode {
    color: white;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    max-width: 1000px;
    max-height: 1000px;
    width: auto;
    height: auto;
}

.post figcaption {
    text-align: center;
    font-style: italic;
}

.custom-post-list {
    list-style-type: none;
    padding-left: 0;
}

.highlighted {
    background-color: gray;
}

.profile {
    display: inline-block;
    float:left;
    padding-right: 10px;
    border-radius: 50%;
    margin-bottom: -9px;
}

.progress {
    font-size: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.progress-list {
    padding: 0;
}

.progress-list img {
    max-width: 380px;
    max-height: 380px;
}

@media screen and (max-width: 580px) {
    .center {
        width: 50%;
    }
    .post {
        width: 100%;
    }

    .progress-list img {
        max-width: 100%;
        max-height: 100%;
    }
}

